canvas{
  border: 1px  solid #d3d3d3;
  background-color: black;

}
body{
  text-align: center;
}
#highScores{
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: -999;
    font-size: 30px;
}
